<div style="padding-left: 12px;">
  <h1>SICEME</h1>
  <br>

  <h4>Reset your password</h4>
  <p>Hello <%= @user.email %>!</p>
  <p>There has been a request to reset your account password.<br>Your password will not change until you access the link to create a new one</p>

  <p><%= link_to "Reset my password", @url, class: "button"  %></p>
</div>
<style>
    .button {
        background-color: blue;
        border: none;
        color: white;
        padding: 6px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 14px;
        margin: 4px 2px;
        cursor: pointer;
    }
</style>